<!-- All of update form specific code is on next line to recognize it  -->
<% if (currentUser) { %>
 
    <div class="modal">
    </div>
    <form action="/users/create-post" method="POST" class="post-form
        <%= locals.isUpdateForm ? "post-form-update" : "" %>">

        <% if (currentUser.isMember) { %>
            <img class="post-form__config-img" src="/images/gear.png" alt="gear image">
        <% } %>
        <input class="post-form__title" type="text" placeholder="Title" name="postTitle" value="<%= locals.isUpdateForm ? post.title : "" %>"
            style="<%= locals.isUpdateForm ? `color: ${config.titleColors.text}; text-shadow: .1em .05em ${config.titleColors.shadow}` : ""%>"">

        <textarea class="post-form__body" name="postBody" id="post-body" cols="30" rows="10" placeholder="Your thoughts"
            style="<%= locals.isUpdateForm ? `color: ${config.bodyColors.text}; text-shadow: .1em .05em ${config.bodyColors.shadow}` : ""%>"><%= locals.isUpdateForm ? post.body : "" %></textarea>

        <% if (currentUser.isMember) { %>
            <div class="post-form__config">
                <div class="mb-1">
                    <p class="mb-03">Title colors</p>
                    <div class="post-form__config--select-group">
                        <label for="title-color">text:</label>
                        <div class="rel select-wrapper">
                            <select autocomplete="off" name="titleTextColor" id="title-color" data-target="postTitle">
                                <% for(const key in postColors){ %>
                                <option value="<%= postColors[key] %>"
                                    <%= locals.isUpdateForm ? config.titleColors.text === postColors[key] ? "selected" : "" : "" %>><%= key %></option>
                            <% } %> 
                            </select>
                        </div>
                    </div>
                    <div class="post-form__config--select-group">
                        <label for="title-shadow-color">shadow:</label>
                        <div class="rel select-wrapper">
                            <select autocomplete="off" name="titleShadowColor" id="title-shadow-color" data-target="postTitle">
                                <% for(const key in postColors){ %>
                                <option value="<%= postColors[key] === "#ffffff" ? "none" : postColors[key] %>"
                                    <%= locals.isUpdateForm ? config.titleColors.shadow === postColors[key] ? "selected" : "" : "" %>><%= key === "default" ? "none" : key %></option>
                            <% } %> 
                            </select>
                        </div>
                    </div>
                </div>
                <div>
                    <p class="mb-03">Message colors</p>
                    <div class="post-form__config--select-group">
                        <label for="body-color">text:</label>
                        <div class="rel select-wrapper">
                            <select autocomplete="off" name="bodyTextColor" id="body-color" data-target="postBody">
                                <% for(const key in postColors){ %>
                                <option value="<%= postColors[key] %>"
                                    <%= locals.isUpdateForm ? config.bodyColors.text === postColors[key] ? "selected" : "" : "" %> ><%= key %></option>
                            <% } %> 
                            </select>
                        </div>
                    </div>
                    <div class="post-form__config--select-group">
                        <label for="body-shadow-color">shadow:</label>
                        <div class="rel select-wrapper">
                            <select autocomplete="off" name="bodyShadowColor" id="body-shadow-color" data-target="postBody">
                                <% for(const key in postColors){ %>
                                <option value="<%= postColors[key] === "#ffffff" ? "none" : postColors[key] %>"
                                    <%= locals.isUpdateForm ? config.bodyColors.shadow === postColors[key] ? "selected" : "" : "" %>><%= key === "default" ? "none" : key %></option>
                            <% } %> 
                            </select>
                        </div>
                    </div>
                </div>
            </div>
        <% } %>
    </form>
    
    <script type="module" src="/javascripts/postConfigAction.js"></script>
<% } %>