<div id="<%= post._id %>" class="post">
    <div class="post__header">
        <a href="<%= user.url %>" class="post__profile--trigger">
            <img class="post__profile-image" src="<%= user.profilePictureUrl %>" alt="profile picture">
            <div class="post__profile-info">
                <h3 class="post__profile-name">
                    <%= user.userName %>
                </h3>
                <h6 class="post__profile-rank member <%= user.highestRank ? user.highestRank + "s-color" : ""%>">
                    <%= user.highestRank %>
                </h6>
            </div>
        </a>

        <h2 class="post__title" style="<%= `color: ${config.title.textColor}; ${config.title.hasShadow ? `text-shadow: ${config.title.shadowSize} ${config.title.shadowColor}` : ""} ` %>">
            <%= post.title %>
        </h2>
    </div>
    <p class="post__body" style="<%= `color: ${config.body.textColor}; ${config.body.hasShadow ? `text-shadow: ${config.body.shadowSize} ${config.body.shadowColor}` : ""}` %>">
        <%= post.body %>
    </p>
    <div class="post__footer mt-1">
        <p class="mb-05">
            posted: <%= post.created_at_formatted %>
        </p>
        <p>
            <%= post.edited ? `edited: ${post.edited_at_formatted}` : "" %> 
        </p>
    </div>
    <% if (currentUser) { %>
        <% if (currentUser._id.toString() === user._id.toString() || currentUser.isAdmin) { %>
            <div class="mt-1">
            <% if (currentUser._id.toString() === user._id.toString()) { %>
                <form action="<%= post.url %>/update" class="d-inline-block">
                    <button class="btn">edit</button>
                </form>
            <% } %>
                <form action="<%= post.url %>/delete" method="POST" class="d-inline-block">
                    <button class="btn">delete</button>
                </form>
            </div>
        <% } %>
    <% } %>
</div>