<% for( let index = allPosts.length - 1; index >= 0; index-- ) { %>
    <% const post = allPosts[index] %>
    <% const user = post.user %> 
    <% const config = post.config %>

    <div class="post">
        <div class="post__header">
            <a href="<%= user.url %>" class="post__profile--trigger">
                <img class="post__profile-image" src="<%= user.profilePictureUrl %>" alt="profile picture">
                <div class="post__profile-info">
                    <h3 class="post__profile-name">
                        <%= user.userName %>
                    </h3>
                    <h6 class="post__profile-rank member <%= user.isAdmin ? "admins-color" : user.isMember ? "members-color" : "" %>">
                        <%= user.isAdmin ? "admin" : user.isMember ? "member" : "" %>
                    </h6>
                </div>
            </a>
            
            <h2 class="post__title" <%= config.turnedOn ? `style=color:${config.titleColor}` : "" %>>
                <%= post.title %>
            </h2>
        </div>
        
        <p class="post__body" <%= config.turnedOn ? `style=color:${config.bodyColor}` : "" %>>
            <%= post.body %>
        </p>
        <div class="post__footer mt-1">
            <p class="">
                posted: <%= post.created_at_formatted %>
            </p>
                        <!-- doplniť if edited a title -->
            <p class="">
                <%= post.edited ? `edited${post.updatedAt}` : "" %> 
            </p>
        </div>
        <% if (typeof currentUser !== "undefined" && currentUser.isAdmin) { %>
         <form action="<%= `${user.url}/posts/${post._id}/delete` %>" method="POST" class="mt-1">
             <button class="btn">delete</button>
         </form>
        <% } %>
    </div>
<% } %>

<% if (currentUser) { %>
 
    <div class="modal">
    </div>
    <form action="/users/create-post" method="POST" class="post-form">
        <% if (currentUser.isMember) { %>
            <img class="post-form__config-img" src="/images/gear.png" alt="gear image">
        <% } %>
        <input class="post-form__title" type="text" placeholder="Title" name="postTitle">
        <textarea class="post-form__body" name="postBody" id="post-body" cols="30" rows="10" placeholder="Your thoughts"></textarea>
        <% if (currentUser.isMember) { %>
            <div class="post-form__config">
                <div class="mb-1">
                    <label for="title-color">Choose title color:</label>
                    <div class="rel select-wrapper">
                        <select name="titleColor" id="title-color">
                            <!-- doplniť option iteration -->
                            <option value="#ffffff">default</option>
                            <option value="#000000">black</option>
                        </select>
                    </div>
                </div>
                <div>
                    <label for="body-color">Choose message color:</label>
                    <div class="rel select-wrapper">
                        <select name="bodyColor" id="body-color">
                            <!-- doplniť option iteration -->
                            <option value="#ffffff">default</option>
                            <option value="#000000">black</option>
                        </select>
                    </div>
                </div>
            </div>
        <% } %>
    </form>
    <div class="create-post-bubble">
        create post
    </div>
    <script src="/javascripts/postBubbleAction.js"></script>
<% } %>
    