<div class="profile-page-container">
    <div class="modal flex-1">
        <div class="profile mx-auto">
        <img src="/images/users/profile-picture.png" alt="profile pic">
        <div class="profile__body">
        <h1>Username: <span><%= user.userName %></span></h1>
        <h1>Full name: <span><%= user.fullName %></span></h1>
        <h1>Last logged in: <span><%= statistics.last_log_in_time_formatted %></span></h1>
        <h1>Registered: <span><%= statistics.registration_date_formatted %></span></h1>
        </div>
        </div>
    </div>
    
    <div class="fake-profile">
        <div class="text-center">
            <img src="<%= user.profilePictureUrl %>" alt="profile pic">
        </div>
        <div>
        <h1>Username:</h1>
        <h1>Full name:</h1>
        <h1>Last logged in:</h1>
        <h1>Registered:</h1>
        </div>
    </div>
    <% console.log(allPosts.length) %> 
    <div class="all-posts flex-2">
    <% if (allPosts.length === 0) { %>
        <h1 class="text-center">No posts</h1>
    <% } %>
    <% for( let index = allPosts.length - 1; index >= 0; index-- ) { %>
        <% const post = allPosts[index] %>
            <div class="post">
                <div class="post__header">
                    <a href="<%= user.url %>" class="post__profile--trigger">
                        <img class="post__profile-image" src="<%= user.profilePictureUrl %>" alt="profile picture">
                        <div class="post__profile-info">
                            <h3 class="post__profile-name">
                                <%= user.userName %>
                            </h3>
                            <h6 class="post__profile-rank member <%= user.highestRank ? user.highestRank+"s-color" : ""%>">
                                <%= user.highestRank %>
                            </h6>
                        </div>
                    </a>
                    <h2 class="post__title">
                        <%= post.title %>
                    </h2>
                </div>
                <p class="post__body">
                        <%= post.body %>
                </p>
                <div class="post__footer">
                    <p class="mb-05">
                        posted: <%= post.created_at_formatted %>
                    </p>
                    <p>
                        <%= post.edited ? `edited: ${post.edited_at_formatted}` : ""%>
                    </p>
                    <% if (currentUser) { %>
                        <div class="mt-1">
                        <% if (currentUser._id.toString() === user._id.toString() || currentUser.isAdmin) { %>
                            <% if (currentUser._id.toString() === user._id.toString()) { %>
                                <form action="<%= post.url %>/update" method="POST" class="d-inline-block">
                                    <button class="btn">edit</button>
                                </form>
                            <% } %>
                                <form action="<%= post.url %>/delete" method="POST" class="d-inline-block">
                                    <button class="btn">delete</button>
                                </form>
                        <% } %>
                        </div>
                    <% } %>
                </div>
            </div>
    <% } %>
    </div>
</div>


<script>
    const modal = document.querySelector(".modal");
    const fakeProfile = document.querySelector(".fake-profile");

    modal.addEventListener("click", event =>{
        if(event.target !== modal)
            return;
        modal.classList.remove("display-show");
        fakeProfile.classList.remove("display-none");
    })
    fakeProfile.addEventListener("click", event =>{
        modal.classList.add("display-show");
        fakeProfile.classList.add("display-none");
    })
</script>