<div class="profile-page-container">
    <div class="modal flex-1">
        <div class="profile mx-auto">
        <img src="/images/users/profile-picture.png" alt="profile pic">
        <div class="profile__body">
            <div class="profile__body-group">
                <h1>Username:</h1>
                <span class="profile__body-data"><%= user.userName %></span>
            </div>
            <%- user.isAdmin ? `<div class="profile__body-group"><h1><span class="admins-color">Admin</span> after:</h1><span class="profile__body-data">${statistics.adminAttempts} ${statistics.adminAttempts > 1 ? "attempts" : "attempt"}</span></div>` : ""%> 
            <%- user.isMember ? `<div class="profile__body-group"><h1><span class="members-color">Member</span> after:</h1><span class="profile__body-data">${statistics.memberAttempts} ${statistics.memberAttempts > 1 ? "attempts" : "attempt"}</span></div>` : "" %> 
        <div class="profile__body-group">
            <h1>Full name:</h1>
            <span class="profile__body-data"><%= user.fullName %></span>
        </div>
        <div class="profile__body-group">
            <h1>Last log in:</h1>
            <span class="profile__body-data"><%= statistics.last_log_in_time_formatted %></span>
        </div>
        <div class="profile_body-group">
            <h1>Registered:</h1>
            <span class="profile__body-data"><%= statistics.registration_date_formatted %></span>
        </div>
        </div>
        </div>
    </div>
    
    <div class="fake-profile">
        <div class="text-center">
            <img src="<%= user.profilePictureUrl %>" alt="profile pic">
        </div>
        <div>
        <h1>Username:</h1>
        <h1>Full name:</h1>
        <h1>Last logged in:</h1>
        <h1>Registered:</h1>
        </div>
    </div>
    <% console.log(allPosts.length) %> 
    <div class="all-posts flex-2">
    <% if (allPosts.length === 0) { %>
        <h1 class="text-center">No posts</h1>
    <% } %>
    <%- include("./partials/allPosts", {redirectPathDelete: user.url, redirectPathUpdate: user.url}) %>
    </div>
</div>


<script>
    const modal = document.querySelector(".modal");
    const fakeProfile = document.querySelector(".fake-profile");

    modal.addEventListener("click", event =>{
        if(event.target !== modal)
            return;
        modal.classList.remove("display-show");
        fakeProfile.classList.remove("display-none");
    })
    fakeProfile.addEventListener("click", event =>{
        modal.classList.add("display-show");
        fakeProfile.classList.add("display-none");
    })
</script>